body {
	font-family: Verdana, sans-serif;
}

#sidebar {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding: 4px 4px 4px 8px;
}

#sidebar ul {
	padding: 0px;
	margin: 0px;
}

#sidebar li {
	padding: 2px 0px 2px 0px;
	text-decoration: none;
	font-size: 15px;
	color: #b6b6b6;
	display: block;
}

#sidebar li:hover {
	color: #ffffff;
}

.main {
	margin-left: 160px;
	/* Same as the width of the sidenav */
	font-size: 28px;
	/* Increased text to enable scrolling */
	padding: 0px 10px;
}
