body {
	font-family: Verdana, sans-serif;
}

#sidebar {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding: 4px 4px 4px 8px;
}

#sidebar div {
	padding: 0px;
	margin: 0px;
}

#sidebar ul {
	padding: 0px;
	margin: 0px;
	margin-left: 12px;
}

#sidebar li {
	padding: 4px 4px 4px 4px;
	text-decoration: none;
	font-size: 15px;
	color: #ffffff;
	display: block;
}

#sidebar li:hover {
	background-color: rgb(44, 44, 44);
}

.main {
	/* Same as the width of the sidenav */
	margin-left: 200px;
}
